myrulebot/src/main/resources/token.txt
myrulebot/src/main/resources/betatoken.txt
myrulebot/src/main/resources/twitchtoken.txt
myrulebot/src/main/resources/serviceAccount.json
.idea/
.gradle/
out/
myrulebot/src/main/resources/leagueapi.txt
jojo_id_file
timeout_file
build/
nohup.out
betatoken.txt
startlocal.sh
keystore.jks